@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <p>Para novos cadastro de clientes, basta clicar em "Cadastro de Clientes" na parte superior esquerda.</p>
</div>
<br />
